{% extends "admin.html" %}
{% block title %}
{% endblock %}
{% block content %}
<h2>List of all categories and there entity</h2>
        <table border="1px">
            <thead>
                <td><strong>Category</strong></td>
                <td><strong>Entity Name</strong></td>
                <td><strong>Unit</strong></td>
                <td><strong>Rate/Unit</strong></td>
                <td><strong>Quantity</strong></td>
            </thead>

            {% for row in rows %}
            <tr>
                <td>{{ row["cname"] }}</td>
                <td>{{ row["cename"] }}</td>
                <td>{{ row["unit"] }}</td>
                <td>{{ row["rate"] }}</td>
                <td>{{ row["cquantity"] }}</td>
                <td>
                    <form action="{{url_for('edit')}}" method="POST">
                    <input type="hidden" name="id" value="{{ row['rowid'] }}">
                    <input type="submit" value="Edit">
                    </form> 
                </td>
                <td>
                    <form onsubmit="return confirm('Are you sure you want to DELETE this from the Database?');" action="{{url_for('delete')}}" method="POST">
                    <input type="hidden" name="id" value="{{ row['rowid'] }}">
                    <input type="submit" value="Delete">
                    </form> 
                </td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}